*{
    margin: 0;
    padding: 0;
    /* border: 2px solid black; */
    font-family: 'Frank Ruhl Libre', serif;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: black;
}
.signInButton{
    outline: none;

}
.signInButton:hover{
    color: black;
}
strong{
    float: left;
    font-size: 2rem;
    margin: 0px 18px;
    margin-top: 8px;
    letter-spacing: 5px;
    color: rgba(21, 139, 248, 0.822);
    text-shadow: skyblue 5px 5px 8px;

}
.aboutus{
    height: auto;
    display: flex;
    justify-content: center;

}
h1{
    text-align: center;
    padding: 30px 0px;
    padding-left: 100px;
    padding-top: 80px;
    font-size: 3rem;
    letter-spacing: 7px;
}

.aboutus img{
   
    height: 200px;
    width:  170px;
    margin-top: 200px;
    margin-left: 300px;
    /* float: left; */
}
.aboutus div p{
    margin: 50px 120px;
    margin-top: 10px;
    /* padding: 0px 100px; */
    padding-left: 150px;
    font-size: 1rem;
    word-spacing: 4px;
    line-height: 35px;
}
header span{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin: 10px 0px;
    color: rgba(21, 139, 248, 0.822);
    text-shadow: skyblue 5px 5px 8px;

}
header input{
    float: right;
    border: none;
    background: none;
    font-size: 1.1rem;
    margin-right: 20px;
    margin-top: 15px;
    color: blue;
    cursor: pointer;
}
.blankArea{
    display: flex;
    justify-content: center;
    text-align: center;
    height: auto;
    background-color: rgb(0, 112, 218);
}
.blankArea p{
    font-size: 1rem;
    color: white;
    margin: 2px 10px;
    padding: 0px 10px;
    word-spacing: 30px;
    letter-spacing: 7px;
}
nav{
    display: flex;
    padding: 10px;
    justify-content: center;
    background-color: rgb(8, 161, 250);
    height: 30px;
    padding-top: 17px;
}
div nav ul li{
    list-style: none;
    display: inline;
    margin: 5px 50px;
    font-size: 1.3rem;
    color: white;
    

}
div nav ul li:hover{
    color: black;

}
.courseinformation h1{
        text-align: center;
        padding: 30px 0px;
        padding-left: 100px;
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 3rem;
}
    


.courseinformation{
    padding: 10px 200px;
    font-size: 1rem;
    line-height: 35px;
    padding-bottom: 50px;
    text-align: center;

}
.testsdetails{
    padding: 10px 200px;
    font-size: 1rem;
    line-height: 35px;

}
.tests{
    text-align: center;
    padding-bottom: 50px;
}
.tests h1{
    text-align: center;
    padding: 30px 0px;
    padding-left: 100px;
    padding-top: 50px;
    font-size: 3rem;
}

.electronicsImage{
    background: black;
    display: flex;
}
.photonicsImage{
    background: black;
    display: flex;


}

.photonicsPic{
    width: 65vw;
    height: 35vw;
}
.electronicsImage img{
    height: auto;
    width: auto;
    border-radius: 1px;
    
}
.instrumentationImage{
    background: black;
    display: flex;

}
.microscopeImage{
    width: 65vw;
    height: 35vw;
}
.electronicsBlue{
    color: rgb(148, 225, 255);
}
.black{
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 30px;
    color: white;
    font-size: 3rem;
    width: 100%;
    /* justify-content: center; */

}

.smallFonts{
    padding-top: 30px;
    font-size: 1.1rem;
    line-height: 35px;
    word-spacing: 5px;
    color: rgb(182, 228, 248);

}
.subscribe{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: flex-start; */
    padding: 50px 50px;
    /* float: left; */

}
.subscribe p{
    margin: 10px;
    margin-left: 0px;
    margin-bottom: 20px;
    font-size: 1.2rem;
}
.email{
    outline: none;
    height: 40px;
    width: 400px;
    font-size: 1.5rem;
    border-radius: 4px;
}
.subscribeButton{
    height: 40px;
    width: 120px;
    margin-top: 10px;
    font-size: 1.2rem;
    border: 1px solid rgb(3, 66, 126);
    border-radius: 8px;
    background-color: rgb(5, 97, 201);
    color: white;
    letter-spacing: 2px;
}
.subscribeButton:hover{
    background-color: skyblue;
    cursor: pointer;
}
footer{
    border: 2px solid skyblue;
    box-shadow: skyblue 10px 10px 20px 15px ;
    height: 40px;
    padding: 2px;
    text-align: right;
    color: white;
    background-color: rgb(2, 177, 247);
    font-size: 1.2rem;
}
